
<div [ngClass]=" 'loginComponent' "> <!--CommonModule den yakaladım-->

    <div [ngClass]="'loginDiv'">
             
        
            <div class="input-box">
                <input  type="text" [(ngModel)]="tcKimlik" placeholder="Tc Kimlik Numarası" required
                pattern="[0-9]*"
                maxlength="11"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>
            <div class="input-box">
                <input  type="password" [(ngModel)]="password" maxlength="11" placeholder="Şifre">
            </div>
            <div class="button">
                <button (click)="uyeGirisi($event)" type="submit">Üye Girişi</button>
            </div>
            <div class="button">
                <button (click)="uyeOlPage($event)" type="submit">Üye Ol</button>
            </div>
    </div>

</div>

